.container {
    font-family: "Times New Roman", Times, serif;
    border-style: none;
    background-color: beige;
    position: relative;
    padding-right: 25px;
    max-height: fit-content;
    width: 95%;
  }
  
  .reminder-corner {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: green;
    display: none;
  }
  
  .reminder-set .reminder-corner {
    display: block;
  }
  
  .myToggleButton {
    background-color: blue;
    color: white;
    width: 90px;
    padding: 5px;
    margin-left: 67%;
  }